{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["eslint-config-airbnb", "prettier"],
  "globals": {
    "__DEV__": "readonly",
    "FormData": "readonly"
  },
  "rules": {
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,

    "arrow-body-style": "off",
    "arrow-parens": [2, "always"],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "only-multiline"
      }
    ],
    "max-len": "warn",
    "no-nested-ternary": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true, "allowAfterSuper": true }],
    "no-unused-vars": ["error", { "args": "none" }],
    "object-shorthand": [1, "never"],
    "prefer-destructuring": "off",
    "prefer-object-spread": "off",
    "default-param-last": "off",

    "import/prefer-default-export": "off",

    "react/button-has-type": "off",
    "react/destructuring-assignment": 1,
    "react/jsx-boolean-value": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": "off",
    "react/prefer-stateless-function": 0,
    "react/prop-types": [2, { "ignore": ["children", "match", "t", "i18n"] }],
    "react/no-unknown-property": 0,
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-no-useless-fragment": "off",
    "react/no-unused-class-component-methods": "off"
  }
}
