$page-background: #f9f0f0;

$section-background: #ffffff;
$section-background-transparent: #ffffffdd;

$tab-background: $section-background;
$tab-background-dark: #e2e2e2;
$tab-background-darker: #d8d8d8;

$block-background: #eeeeee;
$block-background-dark: #dddddd;
$block-background-highlight: #f9f0f0;

$tile-background-highlight: #e0546f;

// Texts
$text-dark: #000000;
$text-normal: #333333;
$text-light: #555555;
$text-lighter: #888888;
$text-placeholder: #aaaaaa;
$text-disable: #aaaaaa;

// Highlights
$highlight: #e54c65;
$highlight-dark: #963246;

// Shadows
$section-shadow: rgba(#ed8c9c, 0.5);
$block-shadow-dark: rgba(#333333, 0.5);
$block-shadow-highlight: rgba(#431014, 0.5);

// Lines
$divider-line: #edd1dc;
$block-line: #c9c9c9;
$normal-line: #e8e8e8;
$normal-line-dark: #c9c9c9;
