$size-big: 14px;
$line-height-big: 15px;

$size-normal: 13px;
$line-height-normal: 14px;

$size-small: 12px;
$line-height-small: 13px;

$size-smaller: 11px;
$line-height-smaller: 12px;

$size-smallest: 10px;
$line-height-smallest: 11px;

$delta-line-height-longcontent: 4px;
