@use '@/sass/abstracts/color' as color;

@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/mixins';

.campaign-container-desktop {
  $width: 700px;
  $aspect-ratio: calc(1920 / 1080);
  width: $width;
  height: calc($width / $aspect-ratio);
  background-color: color.$section-background;
  border-radius: $section-border-radius $section-border-radius 0 0;

  transition: filter 0.1s ease-in-out;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $section-border-radius $section-border-radius 0 0;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(0.95);
  }
}

.campaign-container-mobile {
  $height: min(400px, 100vw);
  $aspect-ratio: calc(1080 / 1397);
  width: calc($height * $aspect-ratio);
  height: $height;
  background-color: color.$section-background;
  border-radius: $section-border-radius $section-border-radius 0 0;

  transition: filter 0.1s ease-in-out;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $section-border-radius $section-border-radius 0 0;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(0.95);
  }
}
